[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "swupdate"]
	path = swupdate
	url = https://github.com/sbabic/swupdate.git
[submodule "aktualizr"]
	path = aktualizr
	url = https://github.com/advancedtelematic/aktualizr.git
